@import url("reset.css");

/* ---------- Base Styles ---------- */

body{
    background:#fff;
    font-size:14px;
    line-height:16px;
    color:#666;
}

a{
    text-decoration:none;
    font-weight:500;
    color:#52a8db;
}

a:hover{
    color:#3381aa;
}

/* ---------- Main Home Styles ---------- */

.home{
    font-weight:300;
}

.home #container{
    width:100%;
}

#main-top{
    background:url(images/main-top-bg.gif) repeat-x top left;
    height:44px;
    padding:10px 20px 0 20px;    
    overflow:hidden;
}

#main-top .main-title{
    display:block;
    width:155px;
    height:38px;
    background:url(images/main-title2.gif) top right no-repeat;
    text-indent:-99999px;
    float:left;
}

#main-top .main-menu{
    float:right;
    margin-top:9px;
}

#main-top .main-menu a{
    color:#fff;
    font-size:14px;
    background:#418bb3;
    padding:4px 14px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#main-top .main-menu a:hover{
    background:#444;
}

#inter-main{
    background:#f0f0f0;
    padding:25px 0 0 25px;
    font-size:24px;
    line-height:30px;
    overflow:hidden;
}

#inter-main .inter-main-inner{
    width:900px;
    margin:0 auto;
    overflow:hidden;
}

#inter-main .inter-main-inner #droplet-area{
    float:left;
    width:200px;
    padding-top:50px;
}

#inter-main .inter-main-inner #droplet-area{
    float:left;
    width:200px;
    padding-top:50px;
}

.html-home .droplet{
    width:153px;
    height:64px;
    background:url(images/upload.gif) no-repeat top left;
    
    display:block;
    overflow:hidden;
    cursor: pointer;
}

.html-home .droplet input.file
{
    position: relative;
    height: 100%;
    width: auto;
    opacity: 0;
    -moz-opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
}
*.html-home .droplet:hover{
    color:#fff;
    background:url(images/upload-hover.gif) no-repeat top left;
    cursor: pointer;
    cursor: hand;
}

#inter-main .inter-main-inner #info{
    float:left;
    width:700px;
    margin-top:8px;
}

#inter-main .inter-main-inner #info p{
    margin-bottom:20px;
}

.home table#short_stats{
    font: 13px/15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    color:#555;
    background:#f5f5f5;
    margin:50px auto;
    padding-bottom:15px;
    width:950px;
    border:1px solid #eee;
    border-collapse:separate;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;

}

.home table#short_stats a{
    color:#037bc2;
}

.home table#short_stats thead{

}

.home table#short_stats thead th{
    font-size:20px;
    font-weight:lighter;
    text-align:left;
    line-height:30px;
    padding:8px 10px;
}

.home table#short_stats thead th.delete, .home table#short_stats thead th.hits, .home table#short_stats tbody tr td.delete, .home table#short_stats tbody tr td.hits{
    text-align:center;
    width:75px;
}

.home table#short_stats .link_delete{
    opacity:.80;
}

.home table#short_stats .link_delete:hover{
    opacity:1;
}

.home table#short_stats tbody tr{
    border-collapse:separate;
    -moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}

.home .table-even{ background:#eee; }

.home .table-hover{ background:#eee; }

.home table tbody tr td{
    padding:8px 10px;
}


/* ---------- Login Styles ---------- */

.login{
    background:url(images/body-ocean-bg.gif) repeat left 372px;
    color:#cff5ff;
}

.login a{
    color:#fff;
    text-shadow: #418bb3 1px 1px 2px;
}

.login a:hover{
    color:#232323;
}

.login #container{
    width:100%;
}

.login #sky-bg{
    width:100%;
    background:url(images/sky-bg.gif) repeat-x left top;
}

#sky-header{
    width:100%;
    height:130px;
    padding-top:50px;
}

#sky-header .sky-title{
    text-indent:-999999px;
    display:block;
    width:327px;
    height:112px;
    background:url(images/sky-title-2.gif) no-repeat top left;
    margin:0 auto;
}

#ocean-floor{
    width:100%;
    background:url(images/waves-top.gif) repeat-x top left;
}

#ocean-floor .ocean-main{
    width:930px;
    margin:0 auto;
    background:transparent url(images/fishies.gif) 0 90px no-repeat;
}

#ocean-floor .ocean-text{
    padding-top:113px;
    font-weight:300;
    color:#cff5ff;
    font-size:30px;
    line-height:35px;
    margin-bottom:15px;
    position:relative;
    width:825px;
    margin:0 auto 15px auto;
}

#ocean-floor .ocean-header{
    color:#fff;
    font-size:54px;
    line-height:60px;
    text-align:center;
    font-weight:600;
    margin-bottom:10px;
    text-shadow: #418bb3 1px 1px 2px;
}

#ocean-floor .ocean-form{
    margin:0 auto;
    width:670px;
}

#ocean-floor .ocean-form label{
    display:none;
}

#ocean-floor .ocean-form #id_email, #ocean-floor .ocean-form #id_password{
    background:#caedfa;
    border:#caedfa 1px solid;
    width:300px;
    color:#333;
    font-size:30px;
    line-height:36px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom:15px;
    padding:5px;
    font-weight:500;
}

#ocean-floor .ocean-form #id_email{
    float:left;
}

#ocean-floor .ocean-form #id_password{
    float:right;
}

#ocean-floor .ocean-form #register_button{
    display:none;
    width:307px;
    height:59px;
    background:url(images/ocean-signup-button.gif) top left no-repeat;
    border:none;
    text-indent:-999999px;
    cursor: pointer;
    cursor: hand;
    margin:0 0 5px 185px;
    font-weight:200;
    text-shadow:none;
}

#ocean-floor .ocean-form #login_button{
    width:307px;
    height:59px;
    background:url(images/ocean-login-button.gif) top left no-repeat;
    border:none;
    text-indent:-999999px;
    cursor: pointer;
    cursor: hand;
    margin:0 0 5px 185px;
    font-weight:200;
    text-shadow:none;
}

#ocean-floor .ocean-form .log-in{ display:none; }

#ocean-floor .ocean-form .sign-up, #ocean-floor .ocean-form .log-in{
    text-align:center;
    color:#cff5ff;
    font-size:22px;
    font-weight:300;
}
