{% extends "base.html" %}

{% block title %}- Your Account{% endblock %}

{% block html_class %}html-home{% endblock %}

{% block extra_head %}
<script src="{{ MEDIA_URL }}js/si.files.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}  
<div id="container">
	<div id="main-top">
		<a class="main-title" href="/">Bub.ly</a>
		<div class="main-menu">
			<a href="/_logout">Logout</a>
		</div>{# end-main-menu #}
	</div>{# main top #}
	
	<div id="inter-main">
		<div class="inter-main-inner">
			<div id="droplet-area">
				  <form id="upload_form" action="/file_upload/" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
				  <div class="droplet">
			      <input type="file" name="file" class="file">
			    {% csrf_token %}
					<script type="text/javascript" language="javascript">
					// <![CDATA[
					SI.Files.stylizeAll();
					// ]]>
					</script>
					</div>{# end-droplet #}
					</form>
			</div>{# end-droplet-area #}
			<div id="info">
				<p>
					Click to upload a file! Its shortened url will appear. Download our <a href="#">droplet</a> to upload files directly from your dock (the shortend url will copy to your clipboard)!
				</p>
				<p>
					You can also use our handy <a href="javascript:void((function(){window.open('{{short_url}}shorten_url/?url='+encodeURIComponent(window.location.href)+'&login=1', 'bub.ly', 'status=no,resizable=no,scrollbars=yes,personalbar=no,directories=no,location=no,toolbar=no,menubar=no,width=875,height=520,left=0,top=0')})());">bookmarklet</a> in your bookmarks bar to shorten links!
				</p>
			</div>
			
		</div>{# end-inter-inner #}
		
	</div>{# end-inter-main #}

</dviv>{# container #}
{% endblock %}