{% extends "base.html" %}
{% load short_tags %}

{% block title %}- Your Account{% endblock %}

{% block html_class %}html-home{% endblock %}

{% block extra_head %}
<script src="{{ MEDIA_URL }}js/si.files.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block body_class %}home{% endblock %}

{% block content %}  
<div id="container">
	<div id="main-top">
		<a class="main-title" href="/">Bub.ly</a>
		<div class="main-menu">
			<a href="/_about/">About</a>
			<a href="/_settings/">Settings</a>
			<a href="/_logout/">Logout</a>
		</div>{# end-main-menu #}
	</div>{# main top #}
	
	<div id="inter-main">
		<div class="inter-main-inner">
		  
		  {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

		  
			<div id="droplet-area">
				  <form id="upload_form" action="/file_upload/" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
				  <img src="{{ MEDIA_URL }}css/images/ajax-loader.gif" class="droplet_spinner">
				  <div class="droplet">
			      <input type="file" name="file" class="file">
			    {% csrf_token %}
					</div>{# end-droplet #}
					</form>
					<script type="text/javascript" language="javascript">
					// <![CDATA[
					SI.Files.stylizeAll();
					// ]]>
					</script>
			</div>{# end-droplet-area #}
			<div id="info">
				<p>
					Click to upload a file! Its shortened url will appear. Download our <a href="#download_droplet" rel="facebox">droplet</a> to upload files directly from your dock (the shortend url will copy to your clipboard)!
				</p>
				<p>
					You can also use our handy <a href="javascript:void((function(){window.open('{{short_url}}shorten_url/?url='+encodeURIComponent(window.location.href)+'&login=1', 'bub.ly', 'status=no,resizable=no,scrollbars=yes,personalbar=no,directories=no,location=no,toolbar=no,menubar=no,width=400,height=200,left=0,top=0')})());" original-title="Drag this to your bookmarklet bar" id="bookmarklet">bookmarklet</a> in your bookmarks bar to shorten links!
				</p>
			</div>
		</div>{# end-inter-inner #}
	</div>{# end-inter-main #}

	<table id="short_stats" cellspacing="0">
		<thead>
		  	<tr>
				<th class="link">Short Link</th>
				<th class="link">Destination</th>
				<th class="when">Date</th>
				<th class="hits">Hits</th>
				<th class="delete">Delete</th>
			</tr>
		</thead>
		<tbody>
	  {% for url in urls %}
		    <tr>
				<td class="link">{{ url.get_short_url|urlize }}</td>
				<td class="full_url">{{ url.url|urlizetrunc:30 }}</td>
				<td class="when timeago" title="{{ url.created_at|to_datetime }}">{{ url.created_at|to_datetime }}</td>
		        <td class="hits">{{ url.hits }}</td>
		        <td class="delete"><a href="{{ url.get_short_url }}" class="link_delete"><img src="{{ MEDIA_URL }}css/images/delete.gif"></a></td>
			</tr>
			{% empty %}
			<tr class="empty_entries"><td>You have not entries yet.</td></tr>
	  {% endfor %}
		</tbody>
		
	</table>
	
		<div id="pages">
		{% if page > 1 %}
		    <a href="?page={{page|add:"-1"}}" class="prev">&laquo; Previous</a>
		  {% endif %}
		{% if page > 1 and urls|length > 34 %} &bull; {% endif %}
		{% if urls|length > 34 %}
		  <a href="?page={{page|add:"1"}}" class="next">Next &raquo;</a>
		{% endif %}
		</div>
		
	<div id="download_droplet" style="display:none;">
	  <p><a href="{{ MEDIA_URL }}bubly.zip">Click here</a> to download our droplet. After you download the app please 
	     run these commands in your terminal.
	     <pre>
	       $ echo {{ user_api_key }} > ~/.bubly
	    </pre>   
	  </p>
  </div>
<div id="footer">
	
</div>
</div>{# container #}
{% endblock %}