{% extends "base.html" %}

{% block body_class %}login{% endblock %}

{% block content %}
<div id="container">
	<div id="sky-bg">
		<div id="sky-header">
			<a href="/" class="sky-title">Bub.ly</a>
		</div>{# end sky header #}
		<div id="ocean-floor">
			<div class="ocean-main">
				<div class="ocean-text">
					<p>Hello!!  Welcome to <a href="/">bub.ly!</a>  Here you can upload files and shorten links. You can even use a droplet on your dock to upload files easily. So without further ado...</p>
				</div>{# end ocean text #}
				<div class="ocean-header">Come On In!</div>
				<div class="ocean-form">
			
				</div>{# end ocean form #}
			</div>{# end ocean main #}
		</div>{# end ocean floor #}
	</div>{# end sky bg #}
</div>{# end container #}
{% endblock %}