{% extends "base.html" %}

{% block title %}- Your Account{% endblock %}

{% block html_class %}html-home{% endblock %}
{% block body_class %}home{% endblock %}

{% block content %}
<div id="container">
	<div id="main-top">
		<a class="main-title" href="/">Bub.ly</a>
		<div class="main-menu">
		  <a href="/_settings/">Settings</a>
			<a href="/_logout/">Logout</a>
		</div>{# end-main-menu #}
	</div>{# main top #}
	
	<div id="inter-main">
		<div class="settings">
		  {% if message %}{{ message }}{% endif %}
      <form action="" method="POST" accept-charset="utf-8">
        {{ form.as_p }}
        <p>API key: {{ user_data.api_key }}</p>
        {% csrf_token %}
        <p><input type="submit" value="Save &rarr;" class="save"></p>
        <p class="user-delete"><a id="user_delete" href="/delete/">(Delete Account)</a></p>
      </form>
	</div>{# end-settings #}
  </div>{# end-inter-main #}

</div>
{% endblock %}


