{% extends "base.html" %}

{% block title %}- Your Account{% endblock %}

{% block html_class %}html-home{% endblock %}
{% block body_class %}home{% endblock %}

{% block content %}
<div id="container">
	<div id="main-top">
		<a class="main-title" href="/">Bub.ly</a>
		<div class="main-menu">
		  <a href="/">Home</a>
		  <a href="/_about/">About</a>
			<a href="/_logout/">Logout</a>
		</div>{# end-main-menu #}
	</div>{# main top #}
	
	<div id="inter-main">
		<div class="settings">
		  {% if message %}{{ message }}{% endif %}
      <form action="" method="POST" accept-charset="utf-8">
        {{ form.as_p }}
        <p><span class="api-label">API key:</span> <span class="api-key">{{ user_data.api_key }}</span></p>
        {% csrf_token %}
        <p><input type="submit" value="Save &rarr;" class="save"></p>
        <p class="user-delete"><a id="user_delete" href="/delete/">(Delete Account)</a></p>
      </form>
      <div id="custom_domain">
        <p>Want to use your own domain as url shortener? Enter your domain in custom domain and create
           a CNAME record in your DNS pointing to bub.ly. For more information, contact <a href="mailto:support@bub.ly">support@bub.ly</a></p>
      </div>
	</div>{# end-settings #}
  </div>{# end-inter-main #}

</div>
{% endblock %}


